:root {
    --body-color: rgb(21, 21, 30);
    --font-color: white;
    --subtitle-color: rgb(133, 136, 152);
    --background-color: rgb(33, 32, 39);
    --border-color: rgb(72, 72, 96);
    --link-color: orange;
    --link-visited: orange;
    --link-hover: darkorange;
    --secret-color: rgb(197, 197, 197);
}

body {
    background-color: var(--body-color);
    color: var(--font-color);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    margin: 0.6rem 1.4rem;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1.4rem;
    font-size: 1.1rem;
    position: sticky;
    top: 0;
}

nav ul, footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

footer ul {
    gap: 0.4rem;
}

nav li {
    padding: 0.6rem 0;
}

nav li  {
    color: var(--font-color);
    text-decoration: none;
    padding: 0.6rem;
}

footer li {
    color: var(--font-color);
    padding: 0.2rem;
    text-decoration: underline;
}

footer li a, footer li a:hover, footer li a:active, footer li a:visited {
    color: var(--font-color);
}

nav li:hover, footer li:hover {
    background-color: var(--border-color);
    cursor: pointer;
}

footer li:hover {
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.6rem;
    font-size: 0.8rem;
    padding: 0.5rem 0.4rem;
}

nav, footer, article {
    background-color: var(--background-color);
}

article {
    border: 1px solid var(--border-color);
    border-radius: 2px;
    padding: 0.6rem;
    margin: auto 1.4rem;
    display: flex;
    gap: 1.6rem;
}

a, .link {
    color: var(--link-color);
    text-decoration: underline;
}

a:visited {
    color: var(--link-visited);
}

a:hover {
    color: var(--link-hover);
}

.link:hover {
    cursor: pointer;
}

a:active {
    color: var(--link-color);
}

p img {
    width: 100%;
    max-width: 500px;
}

.left {
    text-align: center;
    flex: 2;
    max-width: 120px;
}

.left img {
    width: 100px;
}

.left h4 {
    margin: 10px 0;
    cursor: pointer;
}

.left p {
    font-size: 0.7rem;
    margin: 5px;
}

.role {
    background-color: var(--border-color);
    padding: 5px 0 3px;
    border-radius: 2px;
    color: var(--link-color);
}

.stats {
    font-size: 0.6rem !important;
    text-align: left;
    color: var(--subtitle-color);
}

.stats span {
    float: right;
}

.right {
    flex: 2;
}

.date {
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    font-size: 0.8rem;
    color: var(--subtitle-color);
    padding-bottom: 0.6rem;
    display: flex;
    justify-content: space-between;
}

article + article {
    margin-top: 0.6rem;
}

blockquote {
    color: var(--subtitle-color);
    font-size: 0.9rem;
    margin: 1rem 0;
    border-left: 2px solid var(--link-color);
    padding: 10px;
    background-color: var(--body-color);
}

blockquote p {
    color: var(--link-color);
    margin: 0 0 0.4rem;
}

.pagination {
    margin: 1rem 1.4rem;
}

.pagination p {
    margin: 5px 0 1rem;
    font-size: 0.8rem;
}

.bx {
    vertical-align: middle;
}

.bx-share {
    margin-right: 5px;
}

.spoiler {
    color: black;
    background-color: black;
}

.spoiler:hover {
    background-color: transparent;
    color: var(--font-color);
}

.secret {
    color: var(--secret-color);
}

.secret:hover::after {
    content: ' of the element';
}
